<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>明星资讯.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
				<key>dateExpires</key>
				<string>2023/2/8</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AZCategory.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BDToolKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Canvas.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DACircularProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FFToast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IDMPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MKDropdownMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MLBPasswordTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MMMaterialDesignSpinner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ORCharts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PRCAdminDistricts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PYSearch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SJBaseVideoPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SJUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SJVideoPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGAPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>StandardHTTPResponse.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TYCyclePagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZXToolbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62C9C3B466AF8CD3A155872CF377D6883490F31</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GZ8YSWMN46</string>
						<key>name</key>
						<string>China National Software and Service Company Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GZ8YSWMN46.com.css.ActiveFaultInfoCollection</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GZ8YSWMN46</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>GZ8YSWMN46.com.css.ActiveFaultInfoCollection</string>
				</array>
			</dict>
			<key>name</key>
			<string>明星资讯.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>466f2e9c-89d1-4ae4-981a-ff2e2573ab10</string>
				<key>name</key>
				<string>com.css.ActiveFaultInfoCollection</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GZ8YSWMN46</string>
				<key>name</key>
				<string>China National Software and Service Company Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
